// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@use 'font-face.css';

.farsi-digits {
  font-feature-settings: 'ss01';
}

$body-font-family: Vazirmatn UI, sans-serif !default;
$btn-letter-spacing: 0 !default;
